version: '2'

services:
  app:
    image: dzhoonk/mazesolver-bot
    environment:
      # BOT_TOKEN: ${BOT_TOKEN}
      BOT_TOKEN: "5033258071"

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 10