version: '2'

services:
  app:
    image: dzhoonk/mazesolver-bot
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      - BOT_TOKEN=${{secrets.BOT_TOKEN}}

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 10